/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Outfit", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    background-color: transparent;
    border-radius: 50%;
  }
}
* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Add this to your CSS file */
.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: 2147483647;
  margin: 0;
  padding: 0;
  border: none;
  pointer-events: none;
}

.modal-content {
  position: fixed;
  z-index: 2147483647;
  top: 8px;
  right: 8px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 0px #00000033;
  /* width: 320px;
  max-height: 80vh; */
  /* overflow: hidden; */
  animation: modalSlideIn 0.3s ease-out;
  margin: 0;
  padding: 0;
  border: none;
  pointer-events: auto;
}

@keyframes modalSlideIn {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(-20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/* @keyframes modalSlideOut {
  from {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  to {
    opacity: 0;
    transform: scale(0.9) translateY(--y);
  }
} */

@keyframes modalSlideOut {
  from {
    opacity: 1;
    transform: translate3d(var(--x, 0), var(--y, 0), 0) scale(1);
  }
  to {
    opacity: 0;
    transform: translate3d(var(--x, 0), calc(var(--y, 0) - 20px), 0) scale(0.8);
  }
}

/* For Webkit browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Width of vertical scrollbar */
  height: 4px; /* Height of horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d3d7de; /* Scrollbar color (gray-300) */
  border-radius: 10px; /* Rounded edges */
  min-height: 40px; /* Minimum height for the thumb */
  background-clip: padding-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af; /* Darker on hover (gray-400) */
}
